  
html, body{
	background: rgba(255, 255, 255, 1);
}	

#highScoreTable{
	margin: 0 auto;
	color: rgba(250, 250, 250, 1);
	font-weight: 900;
	font-size: 16pt;
}

#highScoreTable tr{
}

#highScoreTable td{
	width: 200px;
	text-align: center;
	border-bottom: 1px solid rgba(100, 100, 100, 1);
}

#highScoreTable td:first-of-type{
	width: 50px;
}


#highScoreTable td:nth-of-type(3){
	text-align: right;
}

.media {
	width: 100%;
	color: rgba(50, 50, 50, 1);
	font-weight: 900;
	font-size: 16pt;
}

.media div{	
	margin: 8px auto;
    width: 96%;
	text-align: center;
	padding: 20px;
	background: rgba(235, 235, 235, 1);
}

.media div p:first-of-type{	
	font-size: 45pt;
//	background: linear-gradient(45deg, rgba(255, 0, 0, 0.5) 0%,        /* Rot */
                rgba(255, 127, 0, 0.5) 16.6%,   /* Orange */
                rgba(255, 255, 0, 0.5) 33.3%,   /* Gelb */
                rgba(0, 255, 0, 0.5) 50%,       /* Grün */
                rgba(0, 0, 255, 0.5) 66.6%,     /* Blau */
                rgba(75, 0, 130, 0.5) 83.3%,    /* Indigo */
                rgba(148, 0, 211, 0.5) 100%     /* Violett */
	);
//  -webkit-background-clip: text;
//  -webkit-text-fill-color: transparent;

}

.media div p:nth-of-type(2){	
	text-align: justify;
}

.media .titleBar{
//	height: 350px;
//	background: linear-gradient(45deg, rgba(255, 0, 0, 0.5) 0%,        /* Rot */
                rgba(255, 127, 0, 0.5) 16.6%,   /* Orange */
                rgba(255, 255, 0, 0.5) 33.3%,   /* Gelb */
                rgba(0, 255, 0, 0.5) 50%,       /* Grün */
                rgba(0, 0, 255, 0.5) 66.6%,     /* Blau */
                rgba(75, 0, 130, 0.5) 83.3%,    /* Indigo */
                rgba(148, 0, 211, 0.5) 100%     /* Violett */
	);
//  -webkit-background-clip: text;
//  -webkit-text-fill-color: transparent;
}

.msPac{
	height: 200px;
}

.media .titleBar img{
	position: relative;
	width: 160px;
	height: 160px;
	filter: drop-shadow(2px 2px 3px 3px rgba(255, 255, 255, 1));
}

.media .welcomeText{
	background: rgba(25, 25, 25, 1);
	color: rgba(250, 250, 250, 1); 
}

.media .welcomeText p:first-of-type{
	background: rgba(50, 50, 50, 1);
		background: linear-gradient(45deg, rgba(255, 0, 0, 0.5) 0%,        /* Rot */
                rgba(255, 127, 0, 0.5) 16.6%,   /* Orange */
                rgba(255, 255, 0, 0.5) 40.3%,   /* 33.3 Gelb */
                rgba(0, 255, 0, 0.5) 50%,       /* Grün */
                rgba(0, 0, 255, 0.5) 60.6%,     /* Blau */
                rgba(75, 0, 130, 0.5) 83.3%,    /* Indigo */
                rgba(148, 0, 211, 0.5) 100%     /* Violett */
	);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

.media .content{
	background: none;
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	border: lime dashed 0px;
}

.media .content a div{
	display: inline-block;
	width: 45%;
	margin: 4px auto;
	background: rgba(235, 235, 235, 1);
	
}

.media .content a:first-of-type div{
	margin-right: 2%;
	background-image: linear-gradient(rgba(0, 101, 176, 1), rgba(250, 250, 250, 1)); // 14,138,244,1
}

.media .content a:last-of-type{
	
}

.media .content a div img{
	border-radius: 10px;
	width: 350px;
	height: 350px;
	object-fit: cover;
}

.media .content a{
	text-decoration: none;
	color: rgba(50, 50, 50, 1);
}

.media .button{
	width: 200px;
	height:30px;
	margin: 0;
	border-radius: 40px;
	background: rgba(235, 235, 235, 1);
	color: rgba(100, 100, 100, 1);
}
.media .button div{
	display: inline-block;
	margin: -30px 40px 0 -100px;
	font-size: 2rem;
	height: 0px;
	width: 0px;
	border: lime 0px dashed;
	background: none;
}

@media (max-width: 1100px) {

	.media .content a div{
	display: block;
	width: 96%;
	}
	
	.media .content a:first-of-type{
	left: auto;
	}
	
	.media .content a:last-of-type{
	right:  auto;
	}
}

@media (max-width: 1500px) {
	
	.media .titleBar{
		height: 400px;
	}
}

@media (max-width: 950px) {

	.media .titleBar{
		height: 490px;
	}
}
